<!DOCTYPE html>
<div class="pageTitle">
  <h1 class="title is-1">Edit your trail</h1>
</div>

<div class="row">
  <div class="field">

    <form name="trailsEdit.editForm" ng-submit="trailsEdit.update()" novalidate>

      <div class="field">
        <p class="control">
          <label class="label" for="image">Image</label>
          <input class="input" base64 type="file" name="base64" id="image" ng-model="trailsEdit.trail.base64" required>
          <div ng-messages="trailsEdit.editForm.base64.$error" role="alert" ng-show="(trailsEdit.editForm.$submitted || trailsEdit.editForm.base64.$touched) && trailsEdit.editForm.base64.$invalid" class="error">
            <div ng-message="required">Image is required.</div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control">
          <label class="label" for="trailName">Trail name</label>
          <input class="input" type="text" name="trailName" id="trailName" ng-model="trailsEdit.trail.trailName" required>
          <div ng-messages="trailsEdit.editForm.trailName.$error" role="alert" ng-show="(trailsEdit.editForm.$submitted || trailsEdit.editForm.trailName.$touched) && trailsEdit.editForm.trailName.$invalid" class="error">
            <div ng-message="required">Trail name is required.</div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control">
          <label class="label" for="description">Trail description</label>
          <input class="input" type="text" name="description" id="description" ng-model="trailsEdit.trail.description" required>
          <div ng-messages="trailsEdit.editForm.description.$error" role="alert" ng-show="(trailsEdit.editForm.$submitted || trailsEdit.editForm.description.$touched) && trailsEdit.editForm.description.$invalid" class="error">
            <div ng-message="required">Trail description is required.</div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control">
          <label class="label" for="difficulty">Trail difficulty</label>
          <input class="input" type="text" name="difficulty" id="difficulty" ng-model="trailsEdit.trail.difficulty" required>
          <div ng-messages="trailsEdit.editForm.difficulty.$error" role="alert" ng-show="(trailsEdit.editForm.$submitted || trailsEdit.editForm.difficulty.$touched) && trailsEdit.editForm.difficulty.$invalid" class="error">
            <div ng-message="required">Trail difficulty is required.</div>
          </div>
        </p>
      </div>

      <div class="field">
        <p class="control">
          <button type="submit" class="button is-primary">Update trail</button>
        </p>
      </div>

    </form>
  </div>
</div>
