<!DOCTYPE html>

<div class="column is-10 is-offset-1 ">
  <div ng-repeat="trail in trailsIndex.all">
    <div class="card has-shadow">
      <div class="card-image">
        <div class="image" style="background-image:url('{{ trail.imageSRC }}')" ui-sref="trailsShow({ id: trail.id })">
        </div>
      </div>
      <div class="content">
        <p><a ui-sref="trailsShow({ id: trail.id })">Trail name: {{ trail.trailName }}</a></p>
        <p>Created by: {{ trail.createdBy }}</p>
        <p>Trail description: {{ trail.description }}</p>
        <p>Trail difficulty: {{ trail.difficulty }}</p>
        <div class="map">
          MAP GOES HERE
        </div>

      </div>
    </div>

  </div>
</div>
