<!DOCTYPE html>

<div class="column is-8 is-offset-2">
  <div class="card">
    <div class="card-image">
      <div class="image" style="background-image:url('{{ trailsShow.trail.imageSRC }}')">
      </div>
    </div>
    <div class="content">
      <p>Trail name: {{ trailsShow.trail.trailName }}</p>
      <p>Created by: <a ui-sref="profile({ id: trailsShow.trail.createdBy.id })"> {{ trailsShow.trail.createdBy.username }}</a></p>
      <p>Trail description: {{ trailsShow.trail.description }}</p>
      <p>Trail difficulty: {{ trailsShow.trail.difficulty }}</p>
      <p>Todays Weather: {{ trailsShow.weather.summary }}</p>
      <img src="images/{{ trailsShow.weather.icon }}.svg" alt="{{ trailsShow.weather.icon }}">

      <button ng-click="trailsShow.toggleCompleted()" class="button is-primary is-primary" ng-if="main.isAuthenticated() && !trailsShow.isComplete()">Mark as completed</button>

      <button ng-click="trailsShow.toggleCompleted()" class="button is-primary is-success" ng-if="trailsShow.isComplete()">Route completed</button>

      <button ui-sref="trailsEdit({ id: trailsShow.trail.id })" class="button is-warning" ng-if="main.isAuthenticated() && main.currentUserId === trailsShow.trail.createdBy.id">Edit</button>

      <button ng-click="trailsShow.delete()" class="button is-danger" ng-if="main.isAuthenticated() && main.currentUserId === trailsShow.trail.createdBy.id">Delete</button>
    </div>
    <hr>

    <div class="content">
      <h2>Comments</h2>
      <ul class="comments__created">
        <li ng-repeat="comment in trailsShow.trail.comments track by $index"><strong>{{ comment.createdBy.username }}</strong> - {{ comment.text }} <button class="button is-danger" ng-click="trailsShow.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUserId === comment.createdBy.id">Delete</button></li>
      </ul>
      <form ng-submit="trailsShow.addComment()" ng-if="main.isAuthenticated()">
        <label class="lable">Add comment</label>
        <textarea ng-model="trailsShow.newComment.text"></textarea>
        <button class="button is-primary">Comment</button>
      </form>
    </div>
    <google-map center="trailsShow.trail.route[0]" route="trailsShow.trail.route"> </google-map>
  </div>
</div>
