<!DOCTYPE html>
<div class="column is-half is-offset-one-quarter">
  <form ng-submit="register.submit()">

    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Username" name="username" id="username" ng-model="register.user.username">
        <span class="icon is-medium is-left">
          <i class="fa fa-user-circle-o"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Email" name="email" id="email" ng-model="register.user.email">
        <span class="icon is-medium is-left">
          <i class="fa fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Postcode" name="postcode" id="postcode" ng-model="register.user.postcode">
        <span class="icon is-medium is-left">
          <i class="fa fa-home"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="file" base64 placeholder="Image" name="image" id="image" ng-model="register.user.base64">
        <span class="icon is-medium is-left">
          <i class="fa fa-picture-o"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="password" placeholder="Password" name="password" id="password" ng-model="register.user.password">
        <span class="icon is-medium is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="password" placeholder="Password Confirmation" name="passwordConfirmation" id="passwordConfirmation" ng-model="register.user.passwordConfirmation">
        <span class="icon is-medium is-left">
          <i class="fa fa-exclamation-triangle"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <p class="control">
        <input type="submit" class="button is-success is-fullwidth" value="Register">
      </p>
    </div>
  </form>

  <button class="button is-info is-fullwidth facebook" ng-click="login.authenticate('facebook')">
    <span class="icon">
      <i class="fa fa-facebook"></i>
    </span>
    <span>Register with Facebook</span>
  </button>

  <button class="button is-info is-fullwidth github" ng-click="login.authenticate('github')" style="background-color:black;">
    <span class="icon">
      <i class="fa fa-github"></i>
    </span>
    <span>Register with Github</span>
  </button>

</div>
