<!DOCTYPE html>
<html ng-app="wildside">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>WildSide</title>
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  <script src="https://use.fontawesome.com/3818a32d0a.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKBfbXmibiy_CzLqXuWzS0xcZ_ZVZyIjM"></script>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
  <link rel="icon" type="image/jpg" href="../images/favicon-32x32.jpg" sizes="32x32" />
</head>

<body ng-controller="MainCtrl as main" ng-class="main.pageName">
  <nav class="nav has-shadow">
    <div class="nav-left">
      <h1 class="nav-item mainTitle"><a ui-sref="home">WildSide</a></h1>
    </div>
    <div class="nav-center">
      <a class="nav-item" ui-sref="trailsIndex" ui-sref-active="active">Trails</a>
    </div>
    <div class="nav-right">
      <a class="nav-item" ui-sref="trailsNew" ui-sref-active="active" ng-if="main.isAuthenticated()">Create a Trail</a>
      <a class="nav-item" ui-sref="login" ui-sref-active="active" ng-if="!main.isAuthenticated()">Login</a>
      <a class="nav-item" ui-sref="register" ui-sref-active="active" ng-if="!main.isAuthenticated()">Register</a>
      <a class="nav-item" ui-sref="profile({ id: main.currentUserId })" ui-sref-active="active" ng-if="main.isAuthenticated()">Profile</a>
      <a class="nav-item" ng-click="main.logout()" ui-sref-active="active" ng-if="main.isAuthenticated()">Logout</a>
    </div>
  </nav>

  <div class="container">
    <div class="message" ng-if="main.message">
      <p>{{ main.message }}</p>
    </div>
    <main ui-view></main>
  </div>



</body>

</html>
