// Import all of your scss files here

// Variables
$color1: #D8CAA8;
$color2: #5C832F;
$color3: #284907;
$color4: #382513;
$color5: #363942;

$fontStack: karla, sans-serif;;

// Extends
.title-styles {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

// Styles
body {
  font-family: $fontStack;
  font-weight: 300;
  color: $color5;
  background-color: $color2;
  height: 100vh;
}

nav {
  font-family: 'Gloria Hallelujah', cursive;
  .mainTitle {
    font-size: 35px;
    text-transform: uppercase;
    color: $color2;
  }
  .nav-center {
    .nav-item {
      font-size: 25px;
    }
  }
}
